asgiref
bcrypt
blink
certifi
chardet
click
colorama
cryptography
distro
django
django-shortcut
duplicity
fasteners
future
httplib2
idna
importlib-metadata
jeepney
keyring
lockfile

macaroonbakery
Mako
MarkupSafe
monotonic
more-itertools
netifaces
oauthlib
olefile
paramiko
pexpect
Pillow
protobuf
ptyprocess
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339

python-dateutil

pytz
pyxdg
PyYAML
reportlab
requests
SecretStorage
six
sqlparse

typing_extensions

ufw
unattended-upgrades
urllib3
usb-creator
wadllib
whitenoise
xdg

zipp
psycopg2-binary
